.loginMain {
    height: 250px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}
.loginBtn {
    display: inline-block;
    cursor: pointer;
    color: #1e90e2;

}